# Node - Modules
back-end/node_modules
back-end/package-lock.json
front-end/assets/node_modules
front-end/assets/package-lock.json

# Pastas geradas
front-end/js
front-end/css
front-end/images
front-end/fonts
