$mobile-only: 479px;
$mini-tablet-portrait-up: 480px;
$tablet-portrait-down: 767px;
$tablet-portrait-up: 768px;
$tablet-landscape-down: 1023px;
$tablet-landscape-up: 1024px;
$notebook-down: 1279px;
$notebook-up: 1280px;
$desktop-down: 1439px;
$desktop-up: 1440px;
