.input-default {
  position: relative;

  .input-wrap {
    position: relative;

    .input-field {
      display: block;
      width: 100%;
      font-size: $font-size;
      color: map-get($color, mainColor);
      border-style: solid;
      border-color: map-get($color, mainColorLight);

      &.error {
        border-color: red;
      }
    }

    input.input-field {
      height: 64px;
    }

    > label.error {
      display: block;
      margin-top: 4px;
      font-size: 13px;
      font-weight: 300;
      color: red;
    }
  }

  &.input-primary {
    .input-wrap {
      .input-label {
        position: absolute;
        font-size: $font-size;
        color: map-get($color, mainColor);
        transform: translateY(28px);
        transform-origin: 0;
        transition: transform 0.35s linear;

        &.active {
          transform: translate(0) scale(0.8);
        }
      }

      .input-field {
        padding: 24px 16px 16px 0;
        border-width: 0 0 1px 0;
        border-radius: 0;
      }
    }
  }

  &.input-secondary {
    .input-wrap {
      .input-label {
        display: block;
        font-size: $font-size;
        color: map-get($color, mainColor);
        margin-bottom: 16px;
        transform: translate(0) scale(0.8);
        transform-origin: 0;
        transition: transform 0.35s linear;
      }

      .input-field {
        padding: 24px 16px;
        border-width: 1px;
        border-radius: 0;
      }
    }
  }
}

.input-checkbox {
  > label {
    display: flex;
    align-items: flex-start;

    > input {
      display: none;

      &:checked {
        + .input-checkbox-fake {
          background: map-get($color, mainColorLight);
        }
      }
    }

    .input-checkbox-fake {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      top: 2px;
      margin-right: 16px;
      border: 1px solid map-get($color, mainColorLight);
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.35s linear;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 5px;
        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%) rotate(-45deg);
      }
    }

    .label-checkbox-fake {
      font-size: $font-size;
      color: map-get($color, mainColor);

      small {
        font-size: 0.75em;
      }
    }
  }
}
