.module-text {
  .text-default {

    p {
      + p {
        margin-top: 16px;
      }
    }

    small {
      display: block;
      margin-bottom: 8px;
      font-size: 0.875em;
      font-weight: bold;
    }
  }

  .group-button {
    > ul {
      justify-content: center;
    }
  }

  @media screen and (min-width: $tablet-portrait-up){
    .group-button {
      margin-top: 48px;
    }
  }

  @media screen and (max-width: $tablet-portrait-down){
    .group-button {
      margin-top: 32px;
    }
  }
}