.module-register {
  .blocks {
    position: relative;

    &::before {
      content: '< Arraste >';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
    }

    .block {
      height: 200px;
      border: 1px solid map-get($color, mainColorLight);
      overflow: auto;
    }
  }

  @media screen and (min-width: $tablet-portrait-up) {
    .blocks {
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      .block {
        width: calc(50% - 50px);
      }
    }
  }

  @media screen and (max-width: $tablet-portrait-down) {
    .blocks {
      .block {
        + .block {
          margin-top: 100px;
        }
      }
    }
  }
}
