.select2-hidden-accessible {
  display: none;
}

.select2 {
  display: block;
  width: 100% !important;

  &.select2-container--open {
    .selection .select2-selection {
      .select2-selection__arrow > b {
        transform: translateY(25%) rotate(-135deg);
      }
    }
  }

  .selection {
    display: block;

    .select2-selection {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      height: 64px;
      padding: 24px 16px 16px 0;
      font-size: $font-size;
      color: map-get($color, mainColor);
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: map-get($color, mainColorLight);
      border-radius: 0;
      outline: none;

      .select2-selection__arrow {
        display: block;
        position: absolute;
        width: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform 0.35s linear;

        > b {
          position: absolute;
          width: 14px;
          height: 14px;
          border-width: 0 2px 2px 0;
          border-style: solid;
          border-color: map-get($color, mainColorLight);
          top: 50%;
          left: 50%;
          transition: transform 0.35s linear;
          transform: translateY(-25%) rotate(45deg);
        }
      }
    }

    .dropdown-wrapper {
      position: relative;
      display: block;
    }
  }
}

.select2-container--open {
  z-index: 10000;

  .select2-dropdown {
    position: relative;
    display: block;
    background: map-get($color, secondary);

    .select2-search--hide {
      display: none;
    }

    .select2-search {
      display: block;
      padding: 20px 20px 0 20px;

      > input {
        display: block;
        width: 100%;
        padding: 16px 20px;
        border: 0;
        background: white;
      }
    }

    .select2-results {
      display: block;
      max-height: 240px;
      overflow: auto;

      .select2-results__options {
        display: block;
        padding: 0 20px;

        > li {
          padding: 20px 0;
          cursor: pointer;

          + li {
            border-top: 1px solid map-get($color, mainColorLight);
          }

          // &.select2-results__option--highlighted {
          //   color: map-get($color, red);
          // }

          // &[aria-selected="true"] {
          //   display: none;
          // }
        }
      }
    }
  }
}
